@using FinalLastExam.Areas.Admin.ViewModels
@model CreateMemberVM

<div class="container"> 

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for ="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
        <div class="mb-3">
            <label asp-for="Work" class="form-label">Work</label>
            <input asp-for="Work" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">Multiple files input example</label>
            <input asp-for="Image" type="file" id="formFileMultiple" multiple>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>